*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.overview-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

@media (max-width: 640px) {
  .overview-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
